.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #ff6060;
    color: #ffffff;
    padding: 5px 30px;
    font-size: 12px;
    height: 18px;
}
