.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    @media (max-width: 480px) {
        margin: 20px 0;
    }
    &__img {
        height: 70px;
        // Media Queries for Microsoft Surface Duo
        @media (max-width: 540px) {
            height: 55px;
        }
        @media (max-width: 480px) {
            height: 45px;
        }
        // Media Queries for Samsung Galaxy Fold
        @media (max-width: 280px) {
            height: 35px;
        }
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 30px;
        gap: 40px;
        // Media Queries for Microsoft Surface Duo
        @media (max-width: 540px) {
            font-size: 20px;
            gap: 20px;
        }
        @media (max-width: 480px) {
            font-size: 15px;
            gap: 20px;
        }
        // Media Queries for Samsung Galaxy Fold
        @media (max-width: 280px) {
            font-size: 14px;
            gap: 10px;
        }
        &__link {
            color: #000000;
            font-weight: 600;
            text-decoration: none;
            &.selected {
                border-bottom: 2px solid black;
            }
        }
    }
}
